* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-page {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-page h1,
.main-page .images,
.main-page .buttons {
  padding: 50px 0;
}
.main-page h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
.main-page .images {
  position: relative;
}
.main-page .images img:nth-child(1) {
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 30%;
}
.main-page .images img:nth-child(2) {
  height: 250px;
  width: 500px;
}
.main-page .buttons button {
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 150px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-page .buttons button:nth-child(1) {
  background: #2ecc71;
  color: #ffffff;
  transition: 0.25s;
}
.main-page .buttons button:nth-child(1):hover {
  background: #27ae60;
}
.options {
  display: none;
  text-align: center;
  padding-top: 3%;
}
.options h1,
.options h4,
input[type="range"] {
  padding: 50px 0;
}
.options h1,
.options h4 {
  font-family: "Poppins", sans-serif;
}
.options h1 {
  font-size: 50px;
}
.options h4 {
  font-size: 30px;
}
.options .mole-time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.options .mole-time input[type="range"],
.mole-time h3 {
  margin: 0 10px;
}
.options .mole-time input[type="range"] {
  height: 30px;
  width: 150px;
  outline: none;
}
.options button {
  display: block;
  margin: 50px auto;
  height: 40px;
  width: 150px;
  border-radius: 24px;
  background: #2ecc71;
  color: #ffffff;
  border: none;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
}
.options button:hover {
  background: #27ae60;
}
.dirts {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 0 0;
}
.dirts .dirt1,
.dirts .dirt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.dirts .dirt {
  cursor: pointer;
  position: relative;
}
.dirts .dirt img {
  user-select: none;
}
.dirts .dirt img:nth-child(1) {
  height: 100px;
  width: 150px;
  position: absolute;
  left: 30%;
  z-index: -1;
}
.dirts .dirt img:nth-child(2) {
  height: 150px;
  width: 300px;
}
.game-score {
  display: none;
}
#text {
  font-weight: 500;
  text-align: center;
}
#restart {
  height: 40px;
  width: 100px;
  background: #2ecc71;
  border-radius: 10px;
  display: none;
  margin: 10px auto;
  border: none;
  color: #ffffff;
  transition: 0.25s;
  outline: none;
  cursor: pointer;
}
#restart:hover {
  background: #27ae60;
}
@keyframes up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
